<h1>{{ foodDetail.product_name }}</h1>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="card-title">Caractéristiques du produit</h2>
                <div class="card-text">
                    <span class="font-weight-bold">Nom générique : </span> {{ foodDetail.generic_name}} <br />
                    <span class="font-weight-bold">Quantité : </span> {{ foodDetail.quantity}} <br />
                    <span class="font-weight-bold">Conditionnement : </span> {{ foodDetail.packaging | spaceAfterComma }} <br />
                    <span class="font-weight-bold">Marques : </span> {{ foodDetail.brands | spaceAfterComma }} <br />
                    <span class="font-weight-bold">Catégories : </span> {{ foodDetail.categories | spaceAfterComma }} <br />
                    <span class="font-weight-bold">Labels, certifications, récompenses : </span> {{ foodDetail.labels | spaceAfterComma }} <br />
                    <span class="font-weight-bold">Pays de vente : </span> {{ foodDetail.countries | spaceAfterComma }} <br />
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <img src="{{ foodDetail.image_url }}" class="card-img" alt="{{ foodDetail.product_name}}">
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Ingrédients</h2>
            <p class="card-text">
                <span class="font-weight-bold">Liste des ingrédients : </span> {{ foodDetail.ingredients_text }} <br />
                <br />
                <span class="font-weight-bold">Substances ou produits provoquant des allergies ou intolérances : </span> {{ foodDetail.allergens | deletePrefix : "en:" }} <br />
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Informations nutritionnelles</h2>
            <p class="card-text">
                <span class="font-weight-bold">Classification Groupe NOVA : </span> {{ foodDetail.nova_group | uppercase }} <br />


                <img src="{{ nutriScoreImage }}" />

            </p>
        </div>
    </div>
</div>

<h2>Allergènes</h2>
<div class="col mb-4">
    <h1 class="align-self-center">{{recipeName}}</h1>
    <hr>
    <h2>Composition</h2>
    <p class="ml-4" *ngFor="let element of composants">{{element}}</p>
    <hr>
    <h2>Allergènes</h2>
    <p class="ml-4" *ngFor="let element of allergenes">{{element}}</p>
    <hr>
    <h2>Valeurs nutritionnelles</h2>
    <app-tableauNutrition class="fullWidth"></app-tableauNutrition>
    <hr>
    <div class="row justify-content-between">
        <div class="col-4">
            <h2>Infos pratiques</h2>
        </div>
        <div class="col-4">
            <button class="btn btn-primary btn-block" type="button" (click)="ajouterInfos = !ajouterInfos">
                Ajouter de nouvelles infos
            </button>
        </div>
    </div>
    <app-add-info *ngIf="ajouterInfos" [productInfos]="foodDetail"></app-add-info>
    <div class="row">
        <div class="col" *ngIf="price <=0">
            <app-add-info [productInfos]="foodDetail"></app-add-info>
        </div>
        <div class="col priceCol" *ngIf="price > 0">
            <app-prix [productInfos]="foodDetail"></app-prix>
        </div>
        <div class="col mapCol" *ngIf="price > 0">
            <app-maps [productInfos]="foodDetail"></app-maps>
        </div>
    </div>
</div>

<pre>{{ foodDetail | json }}</pre>