<pre>{{ foodDetail | json }}</pre>


<div class="card">
    <div class="card-header">
        {{ foodDetail.product_name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<h2>Composition</h2>
<p *ngFor="let element of ingredients">{{element.name}}</p>
<h2>Valeurs nutritionnelles pour 100g</h2>
<app-ingredient class="fullWidth"></app-ingredient>
<h2>Allergènes</h2>