.fullWidth {
    width: 100%;
}

.priceCol{
    min-width: 200px;
}

.mapCol{
    min-width: 200px;
}

.product-image {
    width: 100%;
    height: 15rem;
    position: absolute;
    right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    top: 20px;
}