<form class="mx-2">
    <label class="sr-only" for="typeahead-basic">Rechercher une recette</label>
    <div class="input-group mb-2">

        <button type="submit" class="btn btn-secondary" (click)="isOpenedMenu = !isOpenedMenu">
            <fa-icon [icon]="faCog"></fa-icon> Filtres
        </button>

        <input id="typeahead-basic" type="text" class="form-control mx-2"
               [(ngModel)]="typo" name="typo" placeholder="Rechercher un ingrédient ou une recette" [ngbTypeahead]="search"/>

        <button type="submit" class="btn btn-primary" (click)="submit();">Submit</button>
    </div>

    <app-searchbar-options *ngIf="isOpenedMenu" [searchOptions]="searchOptions" (optionsEvent)="retrieveOptions($event)"></app-searchbar-options>
</form>

<div *ngIf="isEmptySearch">
    <div class="alert alert-info" role="alert">
        Aucune recette n'a pu être trouvée.
    </div>
</div>

<br />

{{ typo }}

