<header role="banner" class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary" role="navigation">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/">MegaBYTE</a>

            <div (window:resize)="onResize($event)" class="collapse navbar-collapse" [ngbCollapse]="isCollapsed"
                 id="navbarNavDropdown">
                <ul class="navbar-nav" role="tablist">
                    <li class="nav-item">
                        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                           class="nav-link">Recherche</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/recettes/creer" routerLinkActive="active" class="nav-link">Ajouter une recette</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/recettes" routerLinkActive="active" class="nav-link">Recettes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>