<div *ngIf="recipe">
    <div class="card mb-3">
        <div class="card-header">
            <h1 class="card-title">{{ recipe.title }}</h1>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3 offset-md-1 text-right">
                <div [ngStyle]="{'background-image': 'url(' + recipe.image_url + ')'}" class="product-image"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-text">
                        {{ recipe.body }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <span class="align-middle">Tags : </span>
            <span class="badge badge-main" *ngFor="let tag of recipe.tagList">
                {{ tag }}
            </span>
        </div>
    </div>
</div>

<app-recette-comments></app-recette-comments>