.product-image {
	width: 100%;
	height: 15rem;
	position: absolute;
	right: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	top: 20px;
}

.badge {
	margin-right: 5px;
}

.badge:last-child{
	margin-right: 0;
}

.badge-main {
	color: #FFF;
	background-color: #762A53;
}