<div class="card mx-2" *ngIf="isOptionsOpened">
    <div class="card-header">
        Filtres de recherche
    </div>
    <div class="card-body">
        <button type="button" class="btn mx-1" (click)="updateOption('bio')"
                [ngClass]="
                {
                    'btn-secondary': options['bio'] === false,
                    'btn-success': options['bio'] === true
                }">
            Bio
        </button>

        <button type="button" class="btn btn-secondary mx-1">
            Sans additifs
        </button>

        <button type="button" class="btn btn-secondary mx-1">
            Vegan
        </button>
    </div>
</div>