.btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.btn .btn-secondary {
    background-color: #f8f8f8;
}

.row {
    margin-right: 0;
}

.filters {

}

.card-body{
    overflow: auto; 
    text-align: center;
}
