<div class="row">
    <div class="card card-body colorized fadeInDown">
        <form>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputPrix">
                        <h2>Nouvelles informations</h2>
                    </label>
                    <small class="form-text text-muted">Précisez le prix ainsi que le lieu où vous avez acheté cet
                        article</small>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="inputCity">Nom du magasin</label>
                            <input type="text" class="form-control" id="inputStoreName"
                                placeholder="Entrez le nom du magasin">
                        </div>
                        <div class="form-group col-6">
                            <label for="inputCity">
                                Prix
                            </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                </div>
                                <input id=inputPrix type="text" class="form-control"
                                    aria-label="Amount (to the nearest dollar)" placeholder="ex : 3.23">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="inputCity">Adresse du magasin</label>
                            <input type="text" class="form-control" id="inputStoreAddress" placeholder="ex : 123 Rue abc">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="inputCity">Latitude du magasin</label>
                            <input type="text" class="form-control" id="inputStoreLat" placeholder="ex : 43.581245">
                        </div>
                        <div class="form-group col-6">
                            <label for="inputCity">Longitude du magasin</label>
                            <input type="text" class="form-control" id="inputStoreLng" placeholder="ex : 7.122467">
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-block btn-success">Soumettre</button>

        </form>
    </div>
</div>