<table class="table table-sm table-hover" id="tableProduit">
  <!-- un tableau identique a ce qu'on peut retrou ver sur les produits actuels -->
  <thead class="thead-light">
    <tr>
      <th scope="col" style="text-align: center;">Informations nutritionnelles</th>
      <th scope="col" style="text-align: center;">pour 100 g / 100 ml</th>
      <th scope="col" style="text-align: center;">par portion</th>
    </tr>
  </thead>
  <tbody>
      <tr style="text-align: center;">
        <td>Energie</td>
        <td>{{energieValue1OO}} kJ</td>
        <td>{{energieValue}}</td>
      </tr>
      <tr style="text-align: center;">
        <td>Lipides</td>
        <td>{{lipidesValue100}} g</td>
        <td>{{lipidesValue}} g</td>
      </tr>

      <tr style="text-align: center;">
        <td >Glucides</td>
        <td >{{glucidesValue100}} g</td>
        <td >{{glucidesValue}} g</td>
      </tr>

      <tr style="text-align: center;">
        <td>Fibres</td>
        <td>{{fibresValue100}} g</td>
        <td>{{fibresValue}} g</td>
      </tr>

      <tr style="text-align: center;">
        <td >Sel</td>
        <td>{{selValue100}} g</td>
        <td>{{selValue}} g</td>
      </tr>




  </tbody>



</table>