

<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<div class="logo-image"></div>
					<h1 class="masthead-brand">Mega BYTE</h1>
				</div>
			</div>

			

			<div class="inner cover">
				<h3 class="cover-heading">Le site au petit budget</h3>
				<p class="lead">Tu n'est plus capable de te payer un café au boulot ? Ce site est fait pour toi !</p>
				<p class="lead">Découvre des recettes simples à réaliser chez toi. Notre comparateur de prix te permettra de trouver les matières premières de tes recettes à moindre coût.</p>
				<p class="lead">
					<a routerLink="/home" class="btn btn-lg btn-primary btn-block see-more-button">J'ai faim !</a>
				</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
					<p>Site réalisé par <a target="_blank" href="https://fr.wikipedia.org/wiki/Captain_America">Captain' Amerika</a>, oui, oui le seul et unique -> <a href="https://twitter.com/captainamerica">@CaptainAmerica</a>.</p>
				</div>
			</div>

		</div>

	</div>

</div>